<div class="tutorial">
<pre class="tutorial" ><%= tutorial1%></pre>
<img border="1" src="/tutorial1.png"   width="600" height="600" />
<br><pre class="tutorial" ><%= tutorial2%></pre>
<img border="1" src="/tutorial2.png"   width="600" height="600" />
<br><pre class="tutorial" ><%= tutorial3%></pre> 
<img border="1" src="/tutorial3.png"   width="600" height="600" />
<br><pre class="tutorial" ><%= tutorial4%></pre> 
<img border="1" src="/tutorial4.png"  width="600" height="600" />
</div>


